.GameStats__left {
    right: 5vw;
    top: 22vh;
    text-align: left;
  }
  
  .GameStats__right {
    left: 20vw;
    bottom: 85vh;
    text-align: left;
  }
  
  .GameStats {
    position: relative;;
    width: 22vh;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .GameStats .value {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
    color: rgb(7, 43, 3);
  }