body {
  font-family: 14px fantasy;
  margin: 0px;
  background-color: rgb(71, 152, 152) !important;
  color: rgb(68, 159, 113) !important;
  background-image: url("./image/tetris-background\ \(1\).png");
  height: 500px; /* set the height of the element */
  width: 100%; /* set the width of the element to 100% of its container */
  background-size: cover; /* make the image cover the entire element */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  font-family: fantasy;
  font-size: 20px;
}
.high-score-headline {
  color: grey;
  font-size: 18px;
}

h1,
h2,
h3 {
  margin-top: 2vh !important;
  text-align: center;
  align-items: center;
  font-family: fantasy;
  color: rgb(27, 62, 45);
}
.t-row {
  display: flex;
}

.t-board {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  margin-left: 36vw;
}

.t-cell {
  display: inline-block;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  color: grey;
}

.t-cell-0 {
  background-image: url(https://media.istockphoto.com/id/971578384/photo/night-sky-with-stars-and-soft-milky-way-universe-as-background-or-texture.jpg?b=1&s=612x612&w=0&k=20&c=6Vx51jpJL4XMqZ9TA1wNdVyz92H4BpyKNeEzGQyhcag=);
}

.t-cell-1 {
  background-color: aquamarine;
  border-bottom: 1px solid #00f;
  border-right: 1px solid #00f;
  border-top: 1px solid #00b;
  border-left: 1px solid #00b;
}

.GameStats,
.value,
li {
  font-family: fantasy;
  color: rgb(15, 38, 27);
  font-size: 30px;
  width: 30vw;
}

.t-cell-2 {
  background-color: green;
}

.t-cell-3 {
  background-color: red;
}

.t-score-label {
  font-weight: bold;
}

.t-score-label {
  font-weight: bold;
}

element.style {
  width: 44px;
  left: 0px;
}

.shape3 {
  background-color: greenyellow !important;
}

.shape1 {
  background-color: aqua !important;
}

.btn {
  margin-left: 2vw;
  margin-top: 1vw;
  background-color: rgb(49, 96, 73);
  border: 1px rgb(49, 96, 73);
}

.home-buttons {
  margin: 10vw 40vw;
}
.containersignup {
  width: 500px;
  height: 500px;
  margin-left: 33vw;
  margin-top: 5vh;
}
.containerlogin {
  width: 500px;
  height: 500px;
  margin-left: 33vw;
  margin-top: 5vh;
}
.me-auto {
  margin-left: 40vw;
}
.table-secondary {
  --bs-table-bg: #9be5ca !important;
  font: bold;
  color: rgb(27, 62, 45) !important;
  border: 3px solid;
  font-family: fantasy;
}

.Main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.mainscore-box,
.lightscore-box {
  display: flex;
  flex-direction: column;
  height: auto;
  align-content: center;
  width: 15vw;
  height: 10vh;
  margin: auto 0;
  padding-top: 10%;
  border-radius: 8px;
}
